{%extends './base.html'%}

{%block title %} Inicio de Sesión {%endblock%}
{% block customCSS %}

<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Slackey" />
{% endblock %}
{%block body %}

<p class="comics">COMICS WORLD STORE</p>

<form class="form-signin w-100 m-auto" action="/login" method="post">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <br></br>
  <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" minlength="6"
      maxlength="20" required autofocus>
    <label for="username">Usuario</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" minlength="8"
      maxlength="20" required>
   <label for="password">Contraseña</label>
  </div>
  </div>

  <button class="w-100 btn btn-lg btn-primary active" type="submit">Ingresar</button>
  <div class="checkbox mb-3">
    <br />
    <label>
      <input type="checkbox" value="remember-me"> Recuerdame!
    </label>
    <br />
    <p> No tienes una cuenta?</p>
    <p> Crear Cuenta</p>
    <p class="mt-5 mb-3 text-muted">&copy; Rockets Koders - 2022</p>

</form>
{% block customJS %}
<script src="{{url_for('static',filename='js/login.js')}}"></script>
{% endblock %}
{%endblock%}