html,
body {
  height: 100%;
  background-image: url("https://img.freepik.com/vector-premium/fondo-comic-pop-art-nube_530597-226.jpg?w=2000"); 
  background-position-x:center;
  background-position-y:center;
  background-size: 100%;
}